.descriptionTitle{
    font-family: 'ABeeZee', sans-serif;
    font-weight: bold;
}

.description{
  font-family: 'ABeeZee', sans-serif;
  text-align: justify;
  font-size: larger;
}


.description span{
    font-weight: bold;
}

.UCSCiframe{
 width:50%;
 height:70%;
 position:absolute;
 right:3%;
 top:17%;
 border: 2px solid #044c74;
 box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
 -moz-border-radius:6px;
}


/*Switchable tab styles*/
.tabs{
    width:42%;
}


.sidebar{
    position:relative;
    align-items:center;
    justify-content:center;
    width:100%;
    left:16%;

}

.tab_btn{
    background-color:#fff;
    border:none;
    border-bottom:1px solid gray;
    color:#000;
    cursor:pointer;
    padding:10px 0;
    margin:10px 0;
    outline:none;
    width:25%;
    font-size: x-large;
}

.tab_btn_active{
    background-color:#fff;
    border:none;
    border-bottom:1px solid gray;
    color:#000;
    cursor:pointer;
    padding:10px 0;
    margin:10px 0;
    outline:none;
    width:25%;
    font-size: x-large;

    /*Extra for the active button*/
    border-bottom:2px solid hsl(0, 94%, 66%);
    color:hsl(0, 94%, 66%);
    font-weight:bold;
}

/* tabs content */
.tab_content{
    display: none;
}

.tab_content_active{
    position:relative;
    left:5%;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align:center;

    /*Extra for active content*/
    display:block;
}




