@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');


.title{
	overflow:auto;
	height:100px;
	margin-top:70px;
	margin-bottom: 0px;
	margin-left:10px;

}

.title h1{
  font-family: 'ABeeZee', sans-serif;
  float:left;
  margin-left: 100px;

}

.title #evologo{
	float:left;
	width:300px;
	
}

.footer{
    left: 48%;
	margin-top:30px;
    position:absolute;
    bottom:0px;
}




/* Index */
.Datasheetable{
	border-collapse: collapse;
	max-width: 75%;
	margin:0 auto;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	-moz-border-radius:6px;
}

thead{
	font-family: 'ABeeZee', sans-serif;
	text-align:center;
	font-size: 30px;
	background-color: #14ab9c;
    color: #ffffff;
    padding-left: 200px;
    border: 2px solid #14ab9c

}

.speciesHeader{
	width:20%;
}

.paperHeader{
	width:25%;
}

.downloadHeader{
	text-align: center;
}

.title_td{
    text-align: left;
}

table tr .accordion{
    border-left: 2px solid rgb(223, 223, 223);
    border-right: 2px solid rgb(223, 223, 223);
    border-top: 1px solid #14ab9c;
    border-bottom: 1px solid #14ab9c;
}

table th,
table td {
	padding: 12px 15px;
}

[class*="_spID"]{
    visibility: collapse;
}


table tbody tr {
	border-bottom: 1px solid #dddddd;
	font-family: 'Arimo', sans-serif;
    font-size: 20px;
	padding:0.001em;
    text-align: center;
}

table tbody tr:last-of-type {
	border-bottom: 2px solid #14ab9c;
	border-radius: 0 10px 0 0;
}

table tbody tr:hover{
	box-shadow: inset 0px -7px 10px -10px #14ab9c;
    cursor: pointer;
}

.accordion{

    height:80px;
    width:2000px;
    background-color:rgb(235, 235, 235);
    vertical-align:middle;
    column-span: all;
    font-size: 25px;
    font-weight: bold; 
    font-style: italic;
    cursor: pointer;
    border:#000000;
    padding: 7px 15px;
    text-align: left;
}

.accordion:hover:active{
    background-color: rgb(175, 175, 175);
}

.accordion:after {
    content: '+'; /* Unicode character for "plus" sign (+) */
    font-size: 25px;
    color: #777;
    float: right;
    padding-left: 0px;
    padding-right:5.7%;
    margin-left:0px;

  }
  
.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }

.buttonContainer{
	text-align: center;
}

.buttonContainer button{
	font-weight: bold;
	background-color: transparent;
	border-color: transparent;
	cursor: pointer;
	border-radius: 5px 5px 5px 5px;
    font-size: 35px;

}

.buttonContainer button:hover{
	filter: drop-shadow(0px 0px 1px black);
}





/* Navigation */

nav {
	background-color: #000000;
	top:0;
	left:0;
    position: absolute; /* Set the navbar to fixed position */
    width: 100%; /* Full width */
    z-index: 100;
}

nav a{
	color: #ffffff;
	text-align: center;
  	display: inline-block;
 	padding-left: 8vw;
 	padding-right: 8vw;
 	padding-top:1vh;
 	font-family: 'ABeeZee', sans-serif;
	font-size: 25px;
	text-decoration:none;
	height: 40px;


}

nav a:hover{
	background-color: #777777
}

.active_nav{
   background-color: white;
   color:black;
   border-top: 3px solid black;
}
.active_nav:hover{
    background-color: white;
    color:black;
 }
