@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

/*.content{
	margin-left:20px;
	margin-right:20px;

}*/

.title{
	overflow:auto;
	height:100px;
	margin-top:20px;
	margin-bottom: 10px;
	margin-left:10px;

}

.title h1{
  font-family: 'ABeeZee', sans-serif;
  float:left;
  margin-left: 100px;

}

.title #evologo{
	float:left;
	width:300px;
	
}

.footer{
	text-align:center;
	margin-top:30px;
}

.Datasheetable{
	border-collapse: collapse;
	max-width: 90%;
	margin:0 auto;
	font-size: 1em;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	-moz-border-radius:6px;
}

thead tr{
	font-family: 'ABeeZee', sans-serif;
	text-align:left;
	font-size: 20px;
	background-color: #14ab9c;
    color: #ffffff;
}

.speciesHeader{
	width:15%;
}

.paperHeader{
	width:25%;
}

.downloadHeader{
	text-align: center;
}

table th,
table td {
	padding: 12px 15px;
}

table tbody tr{
	border-bottom: 1px solid #dddddd;
	font-family: 'Arimo', sans-serif;
	padding:0.001em;
}

table tbody tr:nth-of-type(even) {
	background-color: #f3f3f3;
}

table tbody tr:last-of-type {
	border-bottom: 2px solid #14ab9c;
	border-radius: 0 10px 0 0;
}

table tbody tr:hover{
	box-shadow: inset 5px 0px 0px 0px #14ab9c;
}


.buttonContainer{
	text-align: center;
}

.buttonContainer button{
	font-weight: bold;
	background-color: transparent;
	border-color: transparent;
	cursor: pointer;
	border-radius: 5px 5px 5px 5px;

}

.buttonContainer button:hover{
	filter: drop-shadow(0px 0px 1px black);
}

nav {
	background-color: #000000;
	top:0;
	left:0;
}

nav a{
	color: #ffffff;
	text-align: center;
  	display: inline-block;
 	padding-left: 8vw;
 	padding-right: 8vw;
 	padding-top:1vh;
 	font-family: 'ABeeZee', sans-serif;
	font-size: 25px;
	text-decoration:none;
	height: 40px;

}

nav a:hover{
	background-color: #777777
}