.div_ete{
	display:none;
	background-color: "red";
	border-width: 20px;
	border-color: "red"
}

.ete4frame{
	width: 96vw;
	height:95vh;
	margin:0;
};



.treesList{
	display:none;
}

.elementOfTreeList{

}