
.div_ete{
	display:none;
	background-color: "red";
	border-width: 20px;
	border-color: "red"
}

.ete4frame{
	width: 96vw;
	height:95vh;
	margin:0;
};



.treesList{
	display:none;
}





.searchNTreeWrap{
    display: grid;
    gap:1em;
    padding-left: 2em;
    padding-right:2em;
    grid-template-columns: 1fr 1fr;
    
    background-color: white;
    height:42vh
}

#predictionList{
    background-color:rgb(255, 255, 255)
}
/*ELASTICSEARCH bar*/
.searchWrapper{
    font-family: 'ABeeZee', sans-serif;
    background-color: white;
    overflow: auto;
}

.searchWrapper input{
    width:75%;
    height: 10vh;
    font-size: 1.5vw;
    float: left;
    padding-bottom: 5px;
    padding-left: 1vw;
}

.searchWrapper input + .searchWrapper input{
    margin-left: 80px;
 }

.searchWrapper button{
    width: 22%;
    height: 11.15vh;
    font-size: 2vw;
    vertical-align: bottom;
    float: left;
    padding-bottom: 5px;
    background: #15047a;
    color: white;
    font-size: 2vw;
    border: 2px solid black;
    border-left: none;
    cursor: pointer;
    font-family: 'ABeeZee', sans-serif;
}

.searchWrapper ul{
    width:95%;
    height: 25vh;
    font-size: 1.5vw;
    color:black;
    padding-left: 2%;
    border-color: #15047a;
    font-family: 'ABeeZee', sans-serif;
    background-color: white;
    overflow: auto;
    list-style-type: none;
    
}

.searchWrapper li{
    cursor:pointer;
    background-color: rgb(255, 255, 255);
    padding: 0.5vh;
}

.searchWrapper li:hover{
    background-color: rgb(214, 218, 218);
}

/* Tree shower */
.treeShower{
    font-family: 'ABeeZee', sans-serif;
    background-color: white;
    border: 2px solid black;
    overflow: auto;
}

.treeShower h2{
    padding-left:1em;
    margin-top: 3.5vh;
    height: 4.5vh;
    text-align: center;
    font-size: 2vw;

}

.treeShower ul{
    font-size: 1.5vw;
    color:white;
    font-family: 'ABeeZee', sans-serif;
    background-color: white;
}

.treeShower li{
    background-color: #15047a;
    padding:1%;
    margin-bottom: 1%;
    text-align: center;
    width: 50%;
    cursor:pointer;
    border-radius: 20px 20px 20px 20px;
}

.treeShower li:hover{
    background-color: #14046e;
}


.help_text{
    padding-top: 3%;
    text-align: center;
}

.help_text p{
    font-family: 'ABeeZee', sans-serif;
    font-size: large;
}

